@import './styles.scss';

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.app__main-content {
	display: flex;
	flex: 1;
	margin-top: $header-height;
	height: calc(100vh - #{$header-height});
	overflow: hidden;
}
