@import './styles.scss';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $font-family-base;
	font-size: $font-size-body;
	color: $color-text-primary;
	background-color: $color-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
	width: 100%;
}
